<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Emoji Browser Project's Page</title>
  <meta content="" name="description">
  <meta content="" name="keywords">
  <link href="../assets/img/favicon.png" rel="icon">
  <link href="../assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <link href="../assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="../assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="../assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="../assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="../assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <link href="../assets/css/style.css" rel="stylesheet">
</head>

<body>

  <main id="main">

    <div id="portfolio-details" class="portfolio-details">
      <div class="container">

        <div class="row">

          <div class="col-lg-8">
            <h2 class="portfolio-title">CodeSmith-Gemini Powered Code Translator and Generator</h2>
                  <img src="../assets/img/portfolio/codesmith.png" style="height:500px; width:500px;" alt="">
          </div>
          
          <div class="col-lg-4 portfolio-info">
            <h3>Project information</h3>
              <strong>Category</strong>: Web (HTML/CSS/JS) & GenAI<br>
              Project URL: <a href="https://github.com/Sgvkamalakar/CodeSmith" target="_blank">Link</a><br>
              Web URL: <a href="https://code-smith.vercel.app/" target="_blank">Link</a><br>
            <p>CodeSmith, an AI-powered code translator and generator prototype leveraging Google's Gemini,
            is designed to facilitate seamless Code Translation and contextual Code Generation across multiple programming languages.</p><br>
            <p>The primary objective of CodeSmith is to transform the coding experience for developers worldwide. By harnessing the capabilities of Google's Gemini,
            it aims to revolutionize how developers interact with code translation and generation. The project's mission is to simplify complex translation tasks while providing contextually relevant code generation, ultimately enhancing productivity and efficiency in software development.</p>
          </div>

        </div>

      </div>
    </div>
  </main>
  <script src="../assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="../assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="../assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="../assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="../assets/vendor/waypoints/noframework.waypoints.js"></script>
  <script src="../assets/vendor/php-email-form/validate.js"></script>
  <script src="../assets/js/main.js"></script>

</body>

</html>